<!DOCTYPE html>
<html>
<head>

<meta property="og:title" content="🔥 Deal Alert">
<meta property="og:description" content="Product: {{ deal[1] }} | Price: ₹{{ deal[4] }}">
<meta property="og:image" content="{{ deal[0] }}">
<meta property="og:url" content="{{ request.url }}">
<meta property="og:type" content="website">

<meta name="twitter:card" content="summary_large_image">

</head>

<body style="text-align:center;font-family:sans-serif;">

  <h2>{{ platform }}</h2>

  <img src="{{ image }}" width="300">

  <h3>₹{{ price }}</h3>

  <p>{{ code }}</p>

</body>
</html>
